.pl {
    padding-left: 1.5em;
}

.inline-block {
    display: inline-block;
}

.count-container {
    display: flex;
    justify-content: space-evenly;
}

.count-header {
    display: flex;
    justify-content: center;
    text-align: center;
}